flask
pymongo
requests
pinecone-client
mongoengine
PyJWT
python-dotenv
flask-cors
pytesseract
pdf2image
docx2txt
git+https://github.com/openai/whisper.git
youtube_transcript_api
vimeo_dl
langchain 
openai 
tiktoken
pinecone
langchain-community



